<h3>Update <%= student.name %>'s points</h3>
<form action='/students/<%= student.githubId %>' method="PUT">
  <input type="text" placeholder="intermission" name="intermission">
  <input type="text" placeholder="Node Project" name="nodeProject">
  <input type="text" placeholder="Electron Project" name="electronProject">
  <button type="submit">Submit</button>
</form>
