<!DOCTYPE html>
<html>
	<head>
		<title>Race to 1k</title>
		<link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<% if (student) { %>
			<div class="header">
				<p>
					<a href="/">Home</a> |
					<a href="/students/points">Points</a> |
					<a href="/logout">Log Out</a>
				</p>
			</div>
		<% } %>
		<%- body %>
	</body>
</html>
