<ul class="students">
  <% for(var i=0; i<students.length; i++) {%>
    <li class="student">
      <span><%= students[i].name %>
      </span><br />
      <a href="/students/<%= students[i].githubId %>">View</a>
    </li>
  <% } %>
</ul>
