<div class="students">
  <% for(var i=0; i<students.length; i++) {%>
    <section class="student">
      <img class="view-all-avatar" src="<%= students[i].avatarUrl %>" />
      <a href="/students/<%= students[i].githubId %>">View</a>
      <a href="/students/<%= students[i].githubId %>/edit">Edit</a>
    </section>
  <% } %>
</div>
